html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.title {
  margin: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.description {
  margin: 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.button {
  padding: 6px 40px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  position: relative;
}

.header-wrapper {
  width: 1040px;
  margin: 0 auto;
}

.header {
  background-color: #FFE17F;
  margin-top: 40px;
  height: 300px;
}

.header-inner {
  background-color: #FFE17F;
  margin-top: 40px;
  padding-bottom: 22px;
}

.logo {
  margin-top: -22px;
}

.navigation {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
}

.navigation-search {
  width: 359px;
  padding: 10px 48px;
  border: 2px solid #000000;
  background-color: #FFE17F;
  border-radius: 50px 0px 0px 50px;
  color: #000000;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.search-button {
  cursor: pointer;
  padding: 10px 56px;
  border: 2px solid #000000;
  background-color: #FFE17F;
  color: #000000;
  border-radius: 0px 50px 50px 0px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-left: -5px;
}

.search-button:hover {
  background-color: #000000;
  color: #FFFFFF
}

.search-button:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.navigation-search:before {
  content: '';
  background-image: url(/images/search-icon.svg);
  width: 16px;
  height: 16px;
  padding: 16px;
}

.entrance-item {
  margin-right: auto;
  margin-left: 27px;
}

.navigation-link {
  text-decoration: none;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.logo:focus {
  outline: 2px solid #AF4FFF;
}

.assortment-card .about-assortment:hover {
  opacity: 0.6;
}

.assortment-card .about-assortment:active {
  opacity: 0.3;
}

.assortment-card .about-assortment:focus {
  outline: 2px solid #AF4FFF;
}

.navigation-user .navigation-link:hover {
  opacity: 0.6;
}

.navigation-user .navigation-link:active {
  opacity: 0.3;
}

.navigation-user .navigation-link:focus {
  outline: 2px solid #AF4FFF;
}

.navigation-list .navigation-link:hover {
  opacity: 0.6;
}

.navigation-list .navigation-link:active {
  opacity: 0.3;
}

.navigation-list .navigation-link:focus {
  outline: 2px solid #AF4FFF;
}

.navigation-icon {
  padding: 0 10px 0 10px;
}

.navigation-catalog {
  margin-right: auto;
  display: flex;
  align-items: center;
}
.navigation-catalog .navigation-link {
  padding-right: 10px;
}

.navigation-catalog .navigation-link:focus {
  outline: 2px solid #AF4FFF;
}

.navigation-list {
  margin: 0;
}

.navigation-list .navigation-link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.navigation-list .navigation-item:not(:first-child) {
  padding-left: 45px;
}

.navigation-catalog svg {
  opacity: 0.3;
  cursor: pointer;
}

.navigation-catalog svg:hover {
  opacity: 1;
}

.device-slider {
  margin-top: -150px;
  display: flex;
}

.slider-number {
  padding-right: 60px;
}

.number-wrapper {
  display: flex;
  justify-content: end;
}

.about-device {
  margin-top: 20px;
  margin-left: 40px;
}

.device-title {
  margin-top: -35px;
  margin-bottom: 30px;
}

.device-description {
  margin-bottom: 50px;
}

.device-more-info {
  margin-bottom: 50px;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
}

.pagination-item:not(:first-of-type) {
  margin-left: 20px;
}

.slider-pagination {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.device-parameters {
  display: flex;
}

.distance {
  display: block;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 12px;
}

.parameters-wrapper {
  margin-right: 20px;
}

.assortment-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}


.assortment-card {
  display: flex;
  flex-direction: column;
  width: 160px;
}

.icon-wrapper {
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 33px;
}

.icon-wrapper:hover {
  background-color: #FFC700;
}

.assortment-card:focus {
  outline: 2px solid #AF4FFF;
}

.icon-wrapper:active {
  opacity: 0.3;
}

.position-wrapper {
  justify-content: end;
}

.assortment-image {
  display: block;
}

.about-assortment {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

.assortment-link {
  text-decoration: none;
}

.services-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.services {
  display: flex;
  margin-bottom: 142px;
  position: relative;
  z-index: 1;
}

.services-tab {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding:75px 0;
  border-right: 7px solid #000000;
}

.services-background {
  position: absolute;
  width: 100%;
  height: 289px;
  left: 0px;
  top: 102px;
  background: #F0F0F0;
  z-index: -1;
}

.tab-links {
  border: none;
  cursor: pointer;
}

.services-item {
  padding-right: 120px;
}

.services-item:not(:first-child) {
  padding-top: 55px;
}

.services-title {
  margin-bottom: 34px;
}

.services-delivery {
  display: flex;
  margin: 72px 63px 72px 116px;
}

.about-delivery {
  margin-right: 106px;
}

.delivery-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  margin: 0 auto;
  background-color: #F0F0F0;;
}

.delivery-wrapper:active {
  opacity: 0.3;
}

.delivery-wrapper:focus {
  outline: 2px solid #AF4FFF;
}

.delivery-icon-wrapper {
  width: 125px;
  height: 100px;
  background-color: #FFE17F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.delivery-info-wrapper {
  margin: 0 43px;
}

.info-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
}

.delivery-title a{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.feedback {
  display: flex;
  margin: 70px 0;
}

.about-us {
  margin-right: 108px;
  width: 520px;
}

.about-title {
  margin: 40px 0 48px 0;
}

.about-list {
  margin-bottom: 30px;
}

.about-item {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #FFC700;
  padding-bottom: 19px;
}

.about-item span {
  color: #000000;
}


.feedback-description {
  margin-bottom: 30px;
}

.subtitle {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts-schedule {
  list-style-type: none;
  padding: 0;
  margin-bottom: 30px;
}

.button-feedback {
  display: inline-block;
}

.newsletter-section {
  background-color: #F0F0F0;
}

.newsletter {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  margin-bottom: 144px;
}

.newsletter-title {
  width: 348px;
}

.newsletter-description {
  width: 562px;
}

.newsletter-subscription {
  display: flex;
  justify-content: space-between;
  padding-bottom: 56px;
}

.field {
  width: 557px;
  padding: 11px 0px 11px 16px;
  outline: none;
  border: none;
  background-color: #F0F0F0;
  border-bottom: 5px solid #C4C4C4;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.newsletter-button {
  padding: 15px 39px;
  outline: none;
  border: none;
  background-color: #F0F0F0;
  border: 5px solid #C4C4C4;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin-left: -5px;
  cursor: pointer;
}

.info-free {
  display: inline-block;
  padding-left: 32px;
  background-image: url(/images/green-arrow.svg);
  background-repeat: no-repeat;
  background-position: center left;
  display: flex;
  align-items: center;

}

.arrow-icon {
  padding-right: 15px;
}

.page-footer {
  background-color: #444444;
  padding-top: 62px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  margin-bottom: 49px;
}

.footer-social-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 61px;
}

.footer-contacts-text {
  margin: 0;
  width: 249px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.footer-navigation-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation-footer-link {
  display: inline-block;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-navigation-item:not(:last-child) {
  padding-right: 35px;
}

.footer-phone {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  }

  .footer-social-list {
    display: flex;
    list-style-type: none;
    padding-left: 110px;
    margin: 0;
  }

.footer-social-item:not(:last-child) {
  padding-right: 15px;
}

.link-exit {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  opacity: 0.3;
}

.navigation-user {
  display: flex;
  justify-content: space-between;
}

.breadcrumbs {
  margin: 35px 0;
}

.breadcrumbs-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 16px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 36px;

}

.breadcrumbs-item:not(:last-child):after {
  content: '';
  display: block;
  position: absolute;
  right: -20px;
  top: 6px;
  width: 4px;
  height: 7px;
  background-image: url(/images/breadcrumbs-arrow.svg);
}

.breadcrumbs-link {
  text-decoration: none;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  }

.catalog-products {
  background-color: #F0F0F0;
}

.filters-text {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 25px 0;
  margin: 0;
}

.filters-item {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter-button {
  border: none;
  cursor: pointer;
  opacity: 0.3;
}

.catalog-container {
  width: 1040px;
  margin: 0 auto;
}

.products {
  background-color: #fff;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.product-card-price {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-container {
  display: flex;
  justify-content: end;

}

.product-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 40px;
  padding: 40px;
}

.products-wrapper {
  width: 840px;
  margin: 0 auto;
}

.pagination-catalog-wrapper {
  display: flex;
  flex-direction: column;
  width: 760px;
  margin: 0 auto;
}

.pagination {
  display: flex;
  background-color: #EBEBEB;
  justify-content: space-between;
  list-style-type: none;
  padding: 25px;
  margin: 0;
  margin-bottom: 78px;
}

.pagination-prev,
.pagination-next {
  border: none;
  cursor: pointer;
}

.pagination-number-list {
  padding: 0;
  display: flex;
  list-style-type: none;
}

.pagination-show-more {
  margin-bottom: 45px;
  padding: 18px 0px;
  border: 3px solid #E5E5E5;
  background-color: #fff;
}

.pagination-prev,
.pagination-next {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.pagination-number {
  text-decoration: none;
  color: #444444;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.3;
  }

.social-icon circle {
  fill: #E5E5E5;
}

.social-icon circle:hover {
  fill: #FFC700;
  fill-opacity: 1;
}

.social-icon circle:active {
  fill: #FFC700;
  fill-opacity: 0.3;
}

.footer-social-item:focus {
  border: 2px solid #AF4FFF;
}

.school-logo svg {
  fill: #FFC700;
}

.school-logo svg:hover {
  fill: #FFFFFF;
}

.school-logo svg:active {
  fill: #FFFFFF;
  opacity: 0.3;
}

.school-logo:focus {
  outline: 1px solid #AF4FFF;
}

.navigation-footer-link:hover {
  color: #FFC700;
  text-decoration: underline;
}

.navigation-footer-link:active {
  opacity: 0.3;
  color: #FFC700;
  text-decoration: underline;
}

.navigation-footer-link:focus {
  outline: 1px solid #AF4FFF;
}

.footer-phone:hover {
  color: #FFC700;
}

.footer-phone:active {
  color: #FFC700;
  opacity: 0.3;
}

.footer-phone:focus {
  outline: 1px solid #AF4FFF;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-logo:focus {
  opacity: 0.3;
  outline: 1px solid #AF4FFF;
}
